.container{
    width: 730px;
}

nav .container .btn{
    position: absolute;
    right: 0;
    bottom: unset;
}

nav .container .btn img{
    display:initial;
}

.nav__links{
    display:flex;
    justify-content: space-between;
    width:38%;
    margin-left: 10.9%;
}

nav{
    margin-top: 50px;
}
