.container{
    width: 1120px;
}

.landing-page{
    background-position: 100% 90%;
    background-size: 70%;
}

.landing-page h1{
    width: 55%;
}

.landing-page p{
    width: 33%;
}

@media only screen and (min-width: 1400px){
    .features{
        min-height: 850px;
    }
    .testimonials{
        height: 850px;
    }

    footer{
        height: 850px;
    }
}