.container{
    width: 730px;
}

.btn--violet{
    box-shadow: none;
}

nav .container{
    justify-content: unset;
}

nav .container .btn--white{
    position: absolute;
    right: 0;
    bottom: unset;
}

nav .container .btn--white img{
    display:initial;
}

.nav__links{
    display:flex;
    justify-content: space-between;
    width:38%;
    margin-left: 10.9%;
}

nav{
    margin-top: 50px;
}

nav .container .btn--mobile-menu{
    display:none;
}

.landing-page{
    padding: 130px 0 100px 0;
    background-position: 100% 72%;
    background-size: 55%;
}

.landing-page h1{
    font-size: 80px;
}

.landing-page p{
    width: 45%;
    margin: 50px 0 50px 0;
}

.landing-page button{
    margin-bottom: 0;
}

.about{
    background-position: 50% 12%;
}

.about h1{
    padding-bottom: 300px;
    font-size: 36px;
}

.features{
    margin: 80px 0 150px 0;
}

.features__text p{
    width: 52%;
}

.features__list p{
    position: absolute;
    left: 50%;
    top: 120px;
    width: 220px;
    height: 160px;
    margin-bottom: 0;
}

.features__list h2{
    position: absolute;
    left: 50%;
    top: 49px;
    width: 220px;
    height: 50px;
    font-size: 24px;
    margin: 0;
    text-align: left;
}

.features__item{
    height: 360px;
    background-position: 100% 0%, 10% 50%;
    padding: 0;
}

.link--with--icon{
    position: absolute;
    top: 300px;
    left: 50%;
}

.features__list__item--1{
    background-image: url("../img/bg/bg-f-1.svg"), url("../img/bg/bg-f-1b.svg") ;
}

.features__list__item--2{
    background-image: url("../img/bg/bg-f-2.svg"), url("../img/bg/bg-f-2b.svg") ;
}

.features__list__item--3{
    background-image: url("../img/bg/bg-f-3.svg"), url("../img/bg/bg-f-3b.svg") ;
}

.features__list__item--4{
    background-image: url("../img/bg/bg-f-4.svg"), url("../img/bg/bg-f-4b.svg") ;
}

.footer__offer{
    grid-template-columns: 52% 36%;
    grid-gap:123px;
}

.footer__btn .btn--white{
    display:initial;
}

.footer__info{
    display: grid;
    grid-template-areas: "b1 b2 b3 b4";
    grid-template-columns: 38% 14% 14% 16%;
    grid-gap:50px;
    margin: 153px 0 0 0;

}

.footer__info__contact{
    width: unset;
}
.footer__info__contact header{
    margin-top: unset;
}

.footer__info__contact p:nth-of-type(1){
    margin: 67px 0 10px 0;
}

.footer__info__media{
    display: block;
}